* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.all {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(65, 65, 65);
}

.wrapper {
    display: inline-flex;
}

.wrapper .static-txt {
    color: aliceblue;
    font-size: 75px;
    font-weight: 600;
}

.wrapper .dynamic-txt {
    margin-left: 25px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}

.dynamic-txt li {
    list-style: none;
    font-size: 75px;
    font-weight: 500;
    color: crimson;
    position: relative;
    top: 0;
    animation: slide 4.8s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.dynamic-txt li span {
    position: relative;
}

.dynamic-txt li span::after {
    content: "";
    position: absolute;
    left: 0;
    background: rgb(65, 65, 65);
    height: 103%;
    width: 100%;
    border-left: 6px solid rgb(133, 7, 7);
    animation: typing 1.2s steps(18) infinite;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}